<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967335993821-7rda8uggm0ngkbpa9hd0jndba7bc37l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967335993821-7rda8uggm0ngkbpa9hd0jndba7bc37l0</string>
	<key>API_KEY</key>
	<string>AIzaSyANx3mtUwEA4NwxP_sLjOwERMpee6uw3Cc</string>
	<key>GCM_SENDER_ID</key>
	<string>967335993821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carsonbuckley.RaffleTest</string>
	<key>PROJECT_ID</key>
	<string>raffletest-17156</string>
	<key>STORAGE_BUCKET</key>
	<string>raffletest-17156.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967335993821:ios:a4164cca540a2cce4b5634</string>
	<key>DATABASE_URL</key>
	<string>https://raffletest-17156.firebaseio.com</string>
</dict>
</plist>